<template>
    <div class="columns">
        <div>
            
     <h2 class="title">мои дела</h2>
    <hr>
     <div class="field has-addons">
    <div>
  <input class="input" type="text"  v-model="task.body">
     </div>
 <div>
    <a class="button" @click="createTask()">
     добавить
    </a>
  </div>
 </div>

<div>
    <ul>
<li>
    <h3 class="title">
                                
         ваши задания
                                
         </h3>
    </li>
                      
 </ul>
</div>

<div v-for="task in list">
                
<div class="card-content">
    <div>
                            
    <p v-if="task !== editingTask" @dblclick="editTask(task)" v-bind:title="message">
        {{ task.body }}

     <span v-on:click="deleteTask(task.id)">✔</span>

        </p>
                            

   
    </div>
 </div>
                    
     </div>

            
        </div>
    </div>
</template>

<script>
    export default {
        directives: {
            'autofocus': {
                inserted(el) {
                    el.focus();
                }
            }
        },

        data() {
            return {
                message: 'Double click for editing.',
                list: [],
                task: {
                    id: '',
                    body: '',
                    archive: ''
                },
                editingTask: {},
                activeItem: 'current'
            }
        },

        created() {
            this.fetchTaskList();
        },

        methods: {
            fetchTaskList(archive = null) {

                if (archive === null) {
                    var url = 'current_tasks';
                    this.setActive('current');
                } else {
                    var url = 'archived_tasks';
                    this.setActive('archive');
                }

                axios.get(url).then(result => {
                    this.list = result.data
                });
            },

            isActive(menuItem) {
                return this.activeItem === menuItem;
            },

            setActive(menuItem) {
                this.activeItem = menuItem;
            },

            createTask() {
                axios.post('create_task', this.task).then(result => {
                    this.task.body = '';
                    this.fetchTaskList();
                }).catch(err => {
                    console.log(err);
                });
            },

            editTask(task) {
                this.editingTask = task;
            },

            endEditing(task) {
                this.editingTask = {};
                if (task.body.trim() === '') {
                    this.deleteTask(task.id);
                } else {
                    axios.post('edit_task', task).then(result => {
                        console.log('success!')
                    }).catch(err => {
                        console.log(err);
                    });
                }
            },

            deleteTask(id) {
                axios.post('delete_task/' + id).then(result => {
                    this.fetchTaskList();
                }).catch(err => {
                    console.log(err);
                });
            },

        
        }
    }
</script>
