// Bulma
@import "~bulma/bulma.sass";

body,
html {
  
   
}

a {
    outline: none;
}

#app {
    margin-top: 40px;
    margin-bottom: 40px;
}

.task-list .title {
    margin: 1rem 0;
}

.task-list .card {
    margin: 20px 0;
}


